# Python bytecode
__pycache__/
*.py[cod]

# Django migrations
migrations/

# Environments
env/
venv/
*.env
*.venv

# Configuración del editor
.vscode/
.idea/
*.swp

# Archivos creados por el sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de bases de datos SQLite
db.sqlite3

# Archivos de test coverage
htmlcov/
.coverage

# Archivos de compilación y caché
*.egg
*.egg-info/
dist/
build/
